	<!-- Properties -->

	<div class="properties">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title">{{inmuebles.length}} Inmuebles Disponibles</div>
          <div class="section_subtitle">Search your dream home</div>
        </div>
      </div>
      <div class="row properties_row">
        
        <!-- Property -->
        <div *ngFor="let i of inmuebles" class="col-xl-4 col-lg-6 property_col">
          <div class="property">
            <div class="property_image">
              <img src="template/images/{{fotos[(i.id)]}}" alt="">
              <div *ngIf="i.tipoAV == 0" class="tag_featured property_tag"><a href='/?objeto={"tipoAV":"{{i.tipoAV}}"}'>{{getTipoAV(i.tipoAV)}}</a></div>
              <div *ngIf="i.tipoAV == 1" class="tag_offer property_tag"><a href='/?objeto={"tipoAV":"{{i.tipoAV}}"}'>{{getTipoAV(i.tipoAV)}}</a></div>
            </div>
            <div class="property_body text-center">
              <div class="property_location">{{i.ciudad.nombre}} ({{i.ciudad.departamento.nombre}})</div>
              <div class="property_title"><a href="ver-inmueble?id={{i.id}}">{{i.tipo.nombre}} zona {{getZona(i.zona)}}</a></div>
              <div class="property_price">$ {{addComa(i.valor)}}</div>
            </div>
            <div class="property_footer d-flex flex-row align-items-center justify-content-start">
              <div><div class="property_icon"><img src="template/images/icon_1.png"></div><span>{{i.area}} m²</span></div>
              <div><div class="property_icon"><img src="template/images/icon_2.png"></div><span>{{i.habitaciones}} Cuartos</span></div>
              <div><div class="property_icon"><img src="template/images/icon_3.png"></div><span>{{i.banios}} Baños</span></div>
            </div>
          </div>
        </div>
        <!-- end property -->
      </div>
      <div class="row">
        <div class="col">
          <div class="pagination">
            <ul>
              <li class="active"><a href="#">01.</a></li>
              <li><a href="#">02.</a></li>
              <li><a href="#">03.</a></li>
              <li><a href="#">04.</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

