<div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
                <div class="section_title"> Gestion Inmueble </div>
                <div class="section_subtitle">Gestione toda la informacion de los Inmuebles</div><br>
            </div>
            <div class="col-lg-6">
                <div class="contact_form_container">
                    <form (ngSubmit)="buscarInmueble($event)" class="contact_form" id="contact_form">
                      <div class="row">
                        <div class="col-lg-8">
                            <div><input [(ngModel)]="numMatriculaBuscar" name="numero_matricula" type="text" class="contact_input" placeholder="Numero de matricula" required></div>
                        </div>
                        <div class="col-lg-4" style="padding-left: 0">
                            <button style="height: 48px;margin: 0;width: 100%" class="contact_button button">Buscar</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
          </div>
        <div class="row">
          <div class="elements_accordions">
            <div class="accordions">
              <div class="accordion_container">
                <div class="aviso alert alert-danger" style="margin: 20px 0 20px 0;" *ngIf="show == 1"><div id="close" title="Cerrar">×</div>{{msj}}</div>
                <div class="aviso alert alert-success" style="margin: 20px 0 20px 0;" *ngIf="show == 2"><div id="close" title="Cerrar">×</div>{{msj}}</div>  
                <div class="accordion d-flex flex-row align-items-center"><div>Clic para registrar, editar o ver informacion de un Inmueble </div></div>
                <div class="accordion_panel">
                  <!-- contenido del acordion -->
        <!-- Form -->
        <div class="col-lg-12">    
          <div class="tabs">
            <div class="tabs_container">
              <div class="tabs d-flex flex-row align-items-center justify-content-start flex-wrap">
                <div class="tab">1. Listado y localizacion de los inmuebles</div>
                <div class="tab active">2. Registrar o Editar Inmueble</div>
                <div class="tab">3. Gestion Archivos de un inmueble</div>
              </div>
              <div class="tab_panel">
                  <div class="tab_panel_content">
                    <div class="tab_text">
                      <!-- Aqui va la formaciones academicas -->
                      <div class="col-lg-12">
                                <br>
                                <div class="section_subtitle"> 
                                  <h3 *ngIf="selectedEditar" style="color: blue">Seleccione la pestaña de edicion para editar</h3>
                                  <br>
                                  Lista de inmuebles ({{inmuebles.length}})                                  
                                </div><br>
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">Direccion</th>
                                        <th scope="col">Numero de Matricula</th>
                                        <th scope="col">Cedula del Propietario</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let e of inmuebles">
                                        <td>{{e.direccion}}</td>
                                        <td>{{e.numero_matricula}}</td>
                                        <td>{{e.usuario.persona.cedula}}</td>
                                        <td>
                                          <button *ngIf="!selectedEditar" class="btn" (click)="verUnInmuebleEnMap(e)">localizar en mapa</button>
                                          <button *ngIf="!selectedEditar" class="btn" (click)="ver(e)" style="margin-left: 10px">Editar</button>
                                          <button *ngIf="!selectedEditar" class="btn" (click)="eliminar(e)" style="margin-left: 10px">Eliminar</button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <br>
                                  <h4>localizacion de los inmuebles <button *ngIf="verInmueble" class="btn" (click)="mostrarTodosInmueblesEnMap()" style="margin-right: 10px; color: red">Mostrar todos los inmuebles en el mapa</button></h4>
                                  <agm-map [zoom]="zoom" [latitude]="latSeleccion" [longitude]="longSeleccion" >
                                    <ng-container *ngIf="!verInmueble">
                                      <agm-marker *ngFor="let e of inmuebles" [latitude]="e.latitud" [longitude]="e.longitud" >
                                        <agm-info-window>
                                          <strong>Direccion: {{e.direccion}}</strong>
                                          <strong> ------- Nombre del Propietario: {{e.usuario.persona.nombre}}</strong>
                                        </agm-info-window>
                                      </agm-marker>
                                    </ng-container>
                                    <agm-marker *ngIf="verInmueble" [latitude]="latSelectedLista" [longitude]="longSelectedLista"></agm-marker>
                                  </agm-map>
                    </div>
                    <!-- Aqui termina la formaciones academicas -->
                    </div>
                  </div>
                </div>
              <div class="tab_panels">
                <div class="tab_panel active">
                  <div class="tab_panel_content">
                    <div class="tab_text">
                      <!-- Aqui va la Informacion basica -->
                      <div class="col-lg-10" style="margin: 0 auto">
                      <div class="contact_form_container">
                          <form #datosForm="ngForm" class="contact_form">
                            <div class="section_subtitle"> Datos del Inmueble </div>
                            <div class="row">
                              <div class="col-lg-6">
                                <label *ngIf="!busco" >Cedula del Usuario Propietario:</label>
                                <input *ngIf="!busco" type="number" min="1" [(ngModel)]="cedula" name="cedula" class="contact_input" placeholder="Cedula Usuario" required="required">
                              </div>
                              <div class="col-lg-6">
                                <label>Direccion:</label>
                                <input type="text" [(ngModel)]="inmueble.direccion" name="direccion" class="contact_input" placeholder="Direccion" required="required">
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                  <label>Numero de Matricula:</label>
                                  <input type="number" min="1" [(ngModel)]="inmueble.numero_matricula" name="numero_matricula" class="contact_input" placeholder="Numero de Matricula" required="required">
                                </div>
                                <div class="col-lg-6">
                                  <label>Detalles:</label>
                                  <input type="text" [(ngModel)]="inmueble.detalles" name="detalles" class="contact_input" placeholder="Detalles" required="required">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                  <label>Año de Construcion:</label>
                                  <input type="date" [(ngModel)]="inmueble.anoconstruccion" name="anoconstruccion" class="contact_input" placeholder="Año de Construccion" required="required" max="2000-01-01" >
                                </div>
                                <div class="col-lg-6">
                                  <label>Tipo de Cortinas:</label>
                                  <input type="text" [(ngModel)]="inmueble.tipoCortinas" name="tipoCortinas" class="contact_input" placeholder="Tipo de Cortinas" required="required" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                  <label>Departamento:</label>
                                  <select [(ngModel)]="departamentoSeleccionado.id" (ngModelChange)="listarCiudades($event)" name="tipoInmueble"><option *ngFor="let d of departamentos" value="{{d.id}}">{{d.nombre}}</option></select>
                                </div>
                                <div class="col-lg-6">
                                  <label *ngIf="ciudades.length > 0">Ciudad:</label>
                                  <select *ngIf="ciudades.length > 0" [(ngModel)]="ciudadSeleccionada.id" name="ciudad"><option *ngFor="let c of ciudades" value="{{c.id}}">{{c.nombre}}</option></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                  <label>Tipo de Inmueble:</label>
                                  <select [(ngModel)]="tipoInmuebleSeleccionado.id" name="tipoInmueble"><option *ngFor="let t of tiposInmueble" value="{{t.id}}">{{t.nombre}}</option></select>
                                </div>
                                <div class="col-lg-6">
                                  <label>Area del predio:</label>
                                  <input type="number" min="1" [(ngModel)]="inmueble.area" name="area" class="contact_input" placeholder="Area del Predio" required="required" >
                                </div>        
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                  <label>Valor del Inmueble:</label>
                                  <input type="number" min="1" [(ngModel)]="inmueble.valor" name="valor" class="contact_input" placeholder="Valor del inmueble" required="required" >
                                </div>
                                <div class="col-lg-6">
                                  <label>Numero de baños:</label>
                                  <input type="number" min="1" [(ngModel)]="inmueble.banios" name="banios" class="contact_input" placeholder="Numero de baños" required="required" >
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                  <label>Numero de habitaciones:</label>
                                  <input type="number" min="1" [(ngModel)]="inmueble.habitaciones" name="habitaciones" class="contact_input" placeholder="Numero de habitaciones" required="required" >
                                </div>
                                <div class="col-lg-6">
                                  <label>Zona:</label>
                                  <select [(ngModel)]="zonaSeleccionada.id" name="zona"><option *ngFor="let z of zonas" value="{{z.id}}">{{z.nombre}}</option></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                  <label>Para vender o arrendar:</label>
                                  <select [(ngModel)]="tipoAVSeleccionado.id" name="ArriendoVenta"><option *ngFor="let v of ventaArriendo" value="{{v.id}}">{{v.nombre}}</option></select>
                                </div>
                                <div class="col-lg-6">
                                  <label>Numero de garajes:</label>
                                  <input type="number" min="1" [(ngModel)]="inmueble.garajes" name="Garaje" class="contact_input" placeholder="Numero de garajes" required="required" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                  <label>Asensor: </label>
                                  <input type="checkbox" [(ngModel)]="theCheckboxAsensor"  name="Ascensor" data-md-icheck style="margin-left: 10px"/>
                                </div>
                                <div class="col-lg-6">
                                  <label>Cancha Deportiva: </label>
                                  <input type="checkbox" [(ngModel)]="theCheckboxCanchasDepor"  name="CanchaDepor" data-md-icheck style="margin-left: 10px"/>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-6">
                                      <label>Zona Humeda: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxZonasHumedas"  name="ZonaHumeda" data-md-ichec style="margin-left: 10px"/>
                                    </div>
                                    <div class="col-lg-6">
                                      <label>Zona Infantil: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxZonaInfantil" name="ZonaInfantil" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-6">
                                      <label>Jardines: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxJardines" name="Jardines" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                                    <div class="col-lg-6">
                                      <label>Tranporte publico cercano: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxTransporteCercano" name="TransCercano" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-6">
                                      <label>Precio negociable: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxPrecioNegociable" name="PrecioNegociable" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                                    <div class="col-lg-6">
                                      <label>Zona para secar ropa: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxZonasRopas" name="theCheckboxZonasRopas" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-6">
                                      <label>Parqueadero: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxParqueadero" name="Parqueadero" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                                    <div class="col-lg-6">
                                      <label>Deposito: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxDeposito" name="Deposito" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-6">
                                      <label>Estudio: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxEstudio" name="Estudio" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                                    <div class="col-lg-6">
                                      <label>Cuarto de servicio: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxCuartoServicio" name="CuartoServicio" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-6">
                                      <label>Chimenea: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxChimenea" name="Chimenea" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                                    <div class="col-lg-6">
                                      <label>Cocina abierta: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxCocinaAC" name="CocinaAC" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-6">
                                      <label>Comedor Independiente: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxComedorIndependiente" name="ComedorIndependiente" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                                    <div class="col-lg-6">
                                      <label>Vistas Exteriores: </label>
                                      <input type="checkbox" [(ngModel)]="theCheckboxVistaExterios" name="VistaExterior" data-md-icheck style="margin-left: 10px"/>
                                    </div>
                            </div>
                            <br>
                            <h4>Seleccione en el mapa la localizacion del inmueble</h4>
                            <agm-map [zoom]="zoom" [latitude]="latSeleccion" [longitude]="longSeleccion" (mapClick)="onChoseLocation($event)">
                              <agm-marker *ngIf="locationSelec" [latitude]="latSeleccion" [longitude]="longSeleccion"></agm-marker>
                            </agm-map>
                            <br>
                            <div class="row">
                              <div class="col-lg-6">
                                <button *ngIf="!busco" type="submit" (click)="buscarUsuario(datosForm)" style="width: 100%" class="contact_button button">Registrar Inmueble</button>
                              </div>
                              <div class="col-lg-6">
                                <button *ngIf="busco" (click)="editar(datosForm)" style="width: 100%" class="contact_button button">Editar Empleado</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-6">
                                <button *ngIf="busco" (click)="limpiarCampos(datosForm)" style="width: 100%" class="contact_button button">Limpiar Campos</button>
                              </div>
                            </div>
                          </form>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="tab_panel">
      <div class="tab_panel_content">
        <div class="tab_text">
          <!-- Aqui va la formaciones academicas -->
          <div class="col-lg-12">
            <div class="row">
            <div class="col-lg-4">
            <div class="contact_form_container">
                <form #formacionesForm="ngForm" class="contact_form">
                  <div *ngIf="busco" class="section_subtitle">Datos Archivos</div>
                    <input *ngIf="busco" type="file" multiple name="myfile" (change)="onFileSelected($event)" />
                    <button *ngIf="busco" type="submit" (click)="buscarInmuebleArchivo(datosForm)" style="width: 100%" class="contact_button button">Registrar Archivo</button>
                    <p *ngIf="!busco"> Debe buscar el inmueble primero para porder registrar un archivo</p>
                </form>
              </div>
              </div>
            </div>
        </div>
        <!-- Aqui termina la formaciones academicas -->
        </div>
      </div>
    </div>
    <!-- End Form -->
              <!-- end contenido del acordion -->
            </div>
          </div>
        </div>
      </div>
    </div>

    
    </div>
   </div>
 </div>
</div>