<div class="contact">
  <div class="container">
    <div class="row">

      <section class="content-header">
    <h1>
        Administracion de solicitudes
    </h1>
      <div class="col-lg-12">
          <br>
          <div class="section_subtitle"> Lista de solicitudes ({{solicitudes.length}})</div><br>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">comentarios</th>
                  <th scope="col">usuario</th>
                  <th scope="col">direccion inmueble</th>
                
                </tr>
              </thead>
            </table>
      </div>
      </section>
     </div>
   </div>
</div>

